body{background-image: url("home.jpg");
background-size: cover;
    background-repeat: no-repeat;}
    h1{color: orange;}
    h3{color: cyan}
    h4{color: white;}
    a{color: black;}
    .roblox-universe{text-align: center;}
    .home-nav{text-align: center;}
    a{color: black;}
    .dark-box {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 10px;
}